name: CI

on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  industrial_ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [humble, jazzy, kilted, rolling]
    env:
      ROS_DISTRO: ${{ matrix.ROS_DISTRO }}
      ROS_REPO: main
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Source tests
        uses: 'ros-industrial/industrial_ci@master'
